.backgroundImage {
background: url("http://lmp.tv/catalog/view/theme/lmp2015/template/assets/images/teams-530x255.jpg");
}
p{
  text-align: justify;
}
body{
  background-image: url("https://previews.123rf.com/images/apostrophe/apostrophe1411/apostrophe141100013/33175538-abstract-paper-geometric-shapes-background-texture-Stock-Photo.jpg");

}
